<button id="pause" type="button">Pause</button>
<button id="play" type="button">Play</button>
<button id="higher" type="button"> + 10</button><button id="lower" type="button">-10</button>
<form>
  <input type="radio" name="note" value="a4">A
  <input type="radio" name="note" value="a#4">A#
  <input type="radio" name="note" value="b4">B
  <input type="radio" name="note" value="c5">C
  <input type="radio" name="note" value="c#5">C#
  <input type="radio" name="note" value="d5">D
  <input type="radio" name="note" value="d#5">D#
  <input type="radio" name="note" value="e5">E
  <input type="radio" name="note" value="f5">F
  <input type="radio" name="note" value="f#5">F#
  <input type="radio" name="note" value="g5">G
  <input type="radio" name="note" value="g#5">G#
  <input type="radio" name="note" value="a5">A
  <br>
  <input type="radio" name="note" value="0">0
  <input type="radio" name="note" value="1">1
  <input type="radio" name="note" value="2">2
  <input type="radio" name="note" value="3">3
  <input type="radio" name="note" value="4">4
  <input type="radio" name="note" value="5">5
  <input type="radio" name="note" value="6">6
  <input type="radio" name="note" value="7">7
  <input type="radio" name="note" value="8">8
  <input type="radio" name="note" value="9">9
  <input type="radio" name="note" value="10">10
</form>
<canvas id="my-canvas" style="width: 500px; height: 500px;"></canvas>
