.bookmarks {
  background-color: darkgrey;
  padding: 10px;

  .new-entity {
    display: flex;
    flex-direction: column;
    max-width: 256px;
    margin-left: auto;
    margin-right: auto;
    button {
      width: 100%;
      background-color: blue;
      color: white;
      border-radius: 10px;
      padding: 5px;
      border: 0px;
      margin: 10px 0px;
    }
    .form-control {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  .outlet {
    .entity {
      background-color: white;
      border: 5px solid darkgrey;
      border-radius: 10px;
      padding: 5px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;

      h3 {
        word-break: break-word;
      }

      p {
        text-overflow: wrap;
        word-break: break-word;
        text-align: justify;
      }

      .tags {
        padding-left: 0;
        list-style-type: none;

        li {
          font-size: .8em;
          display: inline;
          content: "#";
          background-color: lightblue;
          padding: 3px 10px;
          border-radius: 10px;
        }
      }
    }
  }
}
